using System.Reflection;
using System.Runtime.CompilerServices;
using System.Runtime.InteropServices;

[assembly: AssemblyTitle("Resx2Xls")]
[assembly: AssemblyDescription("Export to and import from Resx to Excel for easy localization of Visual Studio projects")]
[assembly: AssemblyProduct("Resx2Xls")]
[assembly: AssemblyCopyright("Lesser Gnu Public License (LGPL) 2.1")]

[assembly: ComVisible(false)]

[assembly: AssemblyVersion("1.1.0.$WCREV$")]
